@model List<PokemonApp.Models.PokemonListItem>

<h1>Pokemon List</h1>

<ul>
    @foreach (var pokemon in Model)
    {
        <li><a asp-action="Details" asp-route-name="@pokemon.Name">@pokemon.Name</a></li>
    }
</ul>

@if (ViewBag.NextPage != null)
{
    <a asp-action="Index" asp-route-page="@(ViewBag.NextPage)">Next Page</a>
}

@if (ViewBag.PreviousPage != null)
{
    <a asp-action="Index" asp-route-page="@(ViewBag.PreviousPage)">Previous Page</a>
}
